/* Full-page layout */
.homepage-container {
    min-height: 100vh;
}

.homepage-container {
  position: relative;
  overflow: hidden;
}

.homepage-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../../../backend/images/tasks-image.jpg') center/cover no-repeat;
  filter: blur(5px); 
  z-index: -2; /* Place it behind all content */
}

/* enhance the glass look */
.homepage-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}  

.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-content h1 {
  font-style: oblique;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem; 
  color: black;
  margin-bottom: 5rem;
  margin-top: 3rem; 
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: rgba(244, 244, 244, 0.7); /* Slightly transparent background */
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  width: 100%;
  max-width: 400px; 
}

.homepage-content p {
  font-size: 1.1rem;
  color: #333;
  text-align: center;
}

#first-p {
  color: #333;
  margin-bottom: 1.4rem;
}

.signup-link{
  font-size: 1rem;
  color: #333;
  margin-top: 1rem;
}

.signup-link span {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}


.signup-link span:hover {
  color: #0056b3;
}
